.DS_Store
.build/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcshareddata/IDEWorkspaceChecks.plist
.netrc
/reports
/*.xcresult
test-output.log
build/
